<div>

<div class="main-container">
       <header class="header header-6">
      header
    </header>
    <div class="content-container">
        <div class="content-area">
      <clr-datagrid>
    <clr-dg-column>User ID</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>User Name</clr-dg-column>
    <clr-dg-column>Email</clr-dg-column>
    <clr-dg-column>Phone</clr-dg-column>
    <clr-dg-column>Address</clr-dg-column>
    <clr-dg-column>Company Name</clr-dg-column>
    <clr-dg-column>Website</clr-dg-column>
     <clr-dg-column>View Todo</clr-dg-column>

    <clr-dg-row *ngFor="let user of result">
        <clr-dg-cell>{{user.id}}</clr-dg-cell>
        <clr-dg-cell>{{user.name}}</clr-dg-cell>
        <clr-dg-cell>{{user.username}}</clr-dg-cell>
        <clr-dg-cell>{{user.email}}</clr-dg-cell>
        <clr-dg-cell>{{user.phone}}</clr-dg-cell>
        <clr-dg-cell>{{user.address.city }}</clr-dg-cell>
        <clr-dg-cell>{{user.company.name}}</clr-dg-cell>
        <clr-dg-cell>{{user.website}}</clr-dg-cell>
        <clr-dg-cell>
             <button class="btn btn-primary" (click)="Click(user.id)">View Todo</button>
         </clr-dg-cell>
    </clr-dg-row>

</clr-datagrid>
        </div>
       
    </div>
</div>

